# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
build
tmp
/out-tsc

# dependencies
node_modules

# testing
coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.pem

# Next.js
.next
/out/

# local env files
.env*.local
.env

# typesscript
*.tsbuildinfo
next-env.d.ts

stats.json
